<div class="footer">
	<div class="contact">

		<!-- Title -->
		<div class="font-bold-italic">
			<h1 class="title layout-center">{{ footer.title[app.selectedLang] }}</h1>
		</div>

		<div class="txt flex">
			<div>

				<!-- Name & Address -->
				<div class="contact-info">
					<div class="flex">
						<div class="layout-row">
							<div class="items">

								<div class="layout-row" *ngFor="let item of footer.names">
									<div class="icon">
										<img src="{{ imgSrc('name.svg') }}" />
									</div>
									<div class="item">
										<h3>{{ item.name }}</h3>
										<h3>{{ item.phone }}</h3>
										<h3>{{ item.mail }}</h3>
									</div>
									<div class="flex"></div>
								</div>

								<div class="layout-row" *ngFor="let item of footer.locations">
									<div class="icon">
										<img src="{{ imgSrc('location.svg') }}" />
									</div>
									<div class="item">
										<h3>{{ item.address }}</h3>
										<h3>{{ item.city }}</h3>
										<h3>{{ item.country }}</h3>
									</div>
									<div class="flex"></div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Description -->
				<div class="desc">
					<div class="layout-row flex">
						<h2>{{ footer.description[app.selectedLang].title }}</h2>
					</div>
					<div class="layout-row">
						<h3 (click)="openPopup()">{{ footer.description[app.selectedLang]['read-more'] }}</h3>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
