<div class = "slider" [style.height.px] = "getHeight()" [style.background-color] = "getBackgroundColor()">

  <!-- Slides -->
  <div class = "container" *ngIf = "isInitiated()">
    <div class = "slide {{ animateSlide(i) }}" *ngFor = "let slide of slider.slides; let i = index;"  [style.background-image] = "slider.slides[i]['background-image']">

      <!-- Slide Content -->
      <div class = "slide__content">
        <div (click) = "openPopup(i18n(slide, 'title'), i18n(slide, 'lines'))">

          <!-- Title -->
          <div class = "title">
            <h1 class = "font-italic">{{ i18n(slide, 'title') }}</h1>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- Slider Navigation -->
  <div class = "slider-navigation" *ngIf = "canSlide()">
    <div class = "list">

      <!-- Navigation Buttons -->
      <div class = "list__item" (click) = "selectSlide(i)" *ngFor = "let slide of slider.slides; let i = index;">
        <div class = "list__item_btn {{ isActive(i) }}"></div>
      </div>

    </div>
  </div>

</div>
