.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
  background-color: #fff;

  .animate {
    animation: animate-slide 600ms ease-in;
    z-index: 50;
  }
  .animated {
    animation: animate-slide 600ms ease-in;
    z-index: 50;
  }
  .hide {
    animation: hide-slide 300ms ease-in;
    opacity: 0;
    z-index: 0;
  }
  .hidden {
    opacity: 0;
    z-index: 0;
  }
}

.slider-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &_title {
    display: flex;
    flex-direction: column;
    width: 100%;

    &::before {
      content: '';
      flex: 1;
    }
    &::after {
      content: '';
      flex: 1;
    }
    h1 {
      margin: auto;
      padding: 50px 0;
      width: 100%;
      color: #eee;
      background: rgba(0,0,0, 0.5);
      cursor: pointer;
    }
  }
}

.slider-navigation {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.list {
  display: flex;
  margin: auto;

  &__item {
    position: relative;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 51;

    &:hover {
      .list__item_btn {
        transform: scale3d(1, 1, 1);
      }
    }
    &_btn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      transition: all 100ms ease-in-out;
      transform: scale3d(0.75, 0.75, 0.75);
    }
    .active {
      transform: scale3d(1, 1, 1);
    }
  }
}

@keyframes animate-slide {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hide-slide {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
}
