.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  background-color: #fff;

  .animate {
    animation: animate-slide 500ms ease-in-out;
  }
  .hide {
    transform: translateY(50%) scaleY(0.5);
    opacity: 0;
    transition: all 300ms ease-in-out;
    z-index: -1;
  }
  .hidden {
    opacity: 0;
    z-index: -1;
  }
}

.slide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 50;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: inherit;

    &::before {
      content: '';
      flex: 1;
    }
    &::after {
      content: '';
      flex: 1;
    }
    > div {
      position: relative;
      margin: auto;
      width: 100%;
      background: inherit;
      cursor: pointer;

      .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.5);
      }
      .glass-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        filter: blur(10px);
      }
      .placeholder {
        visibility: hidden;
      }
      h1 {
        padding: 50px 0;
        color: #fff;
        margin: 0;
      }
    }
  }
}

.slider-navigation {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.list {
  display: flex;
  margin: auto;

  &__item {
    position: relative;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 51;

    &:hover {
      .list__item_btn {
        transform: scale3d(0.7, 0.7, 0.7);
        transition: transform 50ms ease-out;
      }
    }
    &_btn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      transition: transform 300ms ease-out;
      transform: scale3d(0.5, 0.5, 0.5);
    }
    .active {
      transform: scale3d(1, 1, 1) !important;
    }
  }
}

@keyframes animate-slide {
  from {
    transform: translateY(-100%) scaleY(0);
  }
  to {
    transform: none;
  }
}
