<div class="slider" [style.height.px] = "browser.height" [style.background-color] = "#26a0da">

  <!-- Slider Content -->
  <div class = "slider-content {{ animateSlide(i) }}" *ngFor = "let slide of slider.slides; let i = index;">
    <div class = "slider-content_title">
      <h1 class = "font-italic" (click)="openPopup(i)">{{ slide[browser.lang].title }}</h1>
    </div>
  </div>

  <!-- Slider Navigation -->
  <div class = "slider-navigation" *ngIf = "canSlide()">
    <div class = "list">
      <div class = "list__item" (click) = "selectSlide(i)" *ngFor = "let slide of slider.slides; let i = index;">
        <div class = "list__item_btn {{ isActive(i) }}"></div>
      </div>
    </div>
  </div>

</div>
