.header {
  position: fixed;
  display: flex;
  height: 50px;
  animation: initialize-header 300ms ease-in;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
  transition: all 300ms ease-in;

  .home {
    width: auto;
    max-width: calc(100% - 100px);
    display: flex;

    &:hover {
      .title::after {
        transform: scaleX(1);
      }
    }
    .title {
      position: relative;
      font-size: 24px;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      padding: 10px 0 2px 0;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: scaleX(0);
        transition: all 300ms ease-in-out;
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
  .menu {
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto;
    transform: rotate(0deg);
    transition: 300ms ease-in-out;

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 150ms ease-in-out;

      &:nth-child(1) {
        top: 8px;
      }
      &:nth-child(2) {
        top: 18px;
      }
      &:nth-child(3) {
        top: 28px;
      }
    }
  }
  .active {

    span {

      &:nth-child(1) {
        top: 18px;
        transform: rotate(-135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: 60px;
      }
      &:nth-child(3) {
        top: 18px;
        transform: rotate(135deg);
      }
    }
  }
}

.link {
  display: flex;
  position: relative;
  width: 100px;
  height: 50px;
  cursor: pointer;

  .btn {
    position: relative;
    display: flex;
    height: 50px;
    width: 100px;

    &_img {
      margin: 5px 30px;
      height: 40px;
      width: 40px;
    }
  }
}

.solid-background {
  background: #000;
}

@keyframes initialize-header {
  from {
    transform: translateY(-50px);
    opacity: 0.5;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
