.header {
  position: fixed;
  animation: initialize-header 150ms ease-in;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; // TODO: map z-indexes...
  background-color: #000;
  box-shadow: 0 0 10px 2px #000;

  &_active {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
  }
}

.app-section {
  position: relative;
  display: flex;

  .app {
    width: auto;
    max-width: calc(100% - 100px);
    display: flex;

    &_icon {
      position: relative;
      display: flex;
      height: 50px;
      width: 100px;

      img {
        margin: 5px 30px;
        height: 40px;
        width: 40px;
      }
    }
    .title {
      padding: 10px 0 2px 0;
      text-align: center;
    }
  }
  .menu {
    width: 100px;
    cursor: pointer;

    &:hover {
      span {
        background: #fff;
      }
    }
    &_btn {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 5px 30px;
      height: 40px;
      width: 40px;
      transform: rotate(0deg);
      transition: all 300ms ease-in-out;

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #ddd;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 150ms ease-in-out;

        &:nth-child(1) {
          top: 8px;
        }
        &:nth-child(2) {
          top: 18px;
        }
        &:nth-child(3) {
          top: 28px;
        }
      }
    }
  }
}

.header_active {

  .menu_btn {
    span {
      &:nth-child(1) {
        top: 18px;
        transform: rotate(-135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        left: 60px;
      }
      &:nth-child(3) {
        top: 18px;
        transform: rotate(135deg);
      }
    }
  }
}

.navigation-section {
  padding: 50px;
  margin: auto;
}

.link {
  position: relative;
  display: flex;
  height: 50px;
  cursor: pointer;

  &:hover {
    .title::after {
      transform: scaleX(1);
    }
  }
  .title {
    position: relative;
    font-size: 24px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    transition: all 300ms ease-in-out;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transform: scaleX(0);
      transition: all 300ms ease-in-out;
    }
  }
}

@keyframes initialize-header {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
