.header {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 50;
  background: #ddd;
  display: flex;
}

.news-txt {
  position: relative;
  flex: 1;
}

.news-cards {
  position: relative;
  flex: 1;
  display: flex;

  > div {
    position: relative;
    margin: auto;
  }
}

.slide {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  opacity: 1;

  &_previous {
    opacity: 0;
    transform: translate3d(0, -20%, 0) scale3d(1.2,1.2,1.2);
    z-index: 40;
    transition: all 250ms ease-out;
  }
  &_active {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    z-index: 30;
    transition: all 500ms ease-out;
  }
  &_active_second {
    transform: translate3d(0, 5%, 0) scale3d(0.95,0.95,0.95);
    z-index: 20;
    transition: all 500ms ease-out;
  }
  &_active_third {
    transform: translate3d(0, 10%, 0) scale3d(0.9,0.9,0.9);
    z-index: 19;
    transition: all 500ms ease-out;
  }
  &_inactive {
    opacity: 0;
    transform: translate3d(0, 10%, 0) scale3d(0.9,0.9,0.9);
    z-index: 10;
    transition: all 100ms ease-out;
  }
  &_txt {
    color: #fff;
    margin: auto 20px;
  }
}
