.footer {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  // height (js): (100% - 50px)
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #333;
  color: #eee;
  z-index: 0;
  // border: 50px solid #333;

  h1 {
    margin: 100px;
    text-align: left;
  }
}
