<div class="bajas">

  <app-news-section
    *ngIf  = "news.loaded"
    [news] = "news"
    [lang] = "lang"
  ></app-news-section>

  <app-videos-section
    *ngIf    = "videos.loaded"
    [videos] = "videos"
    [lang]   = "lang"
  ></app-news>

  <app-photos-section
    *ngIf    = "photos.loaded"
    [photos] = "photos"
    [lang]   = "lang"
  ></app-photo-section>

  <app-contact-section
    *ngIf     = "contact.loaded"
    [contact] = "contact"
    [lang]    = "lang"
  ></app-contact-section>

</div>
