<div class = "app">

  <app-slider *ngIf     = "slider.loaded"
              [slider]  = "slider"
              [browser] = "browser"
              [popup]   = "popup"
  ></app-slider>

  <div *ngIf = "browser.loaded">

    <app-header *ngIf     = "header.loaded"
                [header]  = "header"
                [browser] = "browser"
                [app]     = "app"
    ></app-header>

    <div class = "content" [style.min-height.px] = "browser.height">
      <router-outlet></router-outlet>
    </div>

    <app-footer *ngIf     = "footer.loaded"
                [footer]  = "footer"
                [browser] = "browser"
    ></app-footer>

    <app-popup [popup]   = "popup"
               [browser] = "browser"
    ></app-popup>

  </div>

</div>
