div {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
}

.content {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  box-shadow: 0 0 10px 5px #000;
  z-index: 200;
}

// TODO: create layers..
// transform: translateZ(0);
// will-change: transform;
