<div class = "app">

	<app-slider	[slider]	= "slider"
				[popup]		= "popup"
				[browser]	= "browser"
	></app-slider>
<!--

        <div *ngIf = "browser.loaded && header.loaded && footer.loaded">
            <app-header	*ngIf		= "header.loaded"
                        [header]	= "header"
                        [app]		= "app"
                        [browser]	= "browser"
            ></bnb-header>

            <div class = "content" [style.min-height.px] = "browser.height">
                <router-outlet></router-outlet>
            </div>

            <app-footer	*ngIf		= "footer.loaded"
                        [footer]	= "footer"
                        [browser]	= "browser"
            ></bnb-footer>

            <app-popup [popup] = "popup"></bnb-popup>
	</div>
-->
</div>
