.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
  background: #fff;
  transform: translateX(-100%);
  opacity: 0;
  -webkit-overflow-scrolling: touch;

  > div {
    max-width: 1024px;
    margin: auto;
  }
  &__content {
    padding: 50px;

    &_title {
      padding-bottom: 50px;
    }
    &_lines {
      color: #333;
      font-size: 24px;
    }
    @media(max-width: 1024px) {
      padding: 20px;
    }
  }
  .close {
    position: relative;
    display: flex;
    height: 100px;
    cursor: pointer;

    &_btn {
      fill: #eee;
      margin: auto;
      width: 50px;
      height: 50px;
    }
    &:hover {
      background: #eee;

      .close_btn {
        fill: #333;
      }
    }
  }
}

.visible {
  animation: slide-in-left 300ms ease-out;
  transform: translateX(0);
  opacity: 1;
}

.hidden {
  animation: slide-out-left 300ms ease-out;
  transform: translateX(-100%);
  opacity: 0;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}
