<div class="slider font-italic">

	<!-- Slides -->
	<div class="slide {{ animateIfActive(i) }}" *ngFor="let slide of slider.slides; let i = index;">

		<img class="slide_img" src="{{ slide.img.src }}" alt="Slider cover image..." />

		<div class="slide_content">
			<h1 (click)="openPopup(i)">{{ slide.txt[app.selectedLang].title }}</h1>
		</div>

	</div>

	<!-- Navigation -->
	<div class="navigation" *ngIf="(slider.slides.length > 1)">

		<div class="navigation__list">

			<div class 		= "navigation__list_btn {{ (i === slider.activeSlide) ? 'active' : '' }}"
				 *ngFor 	= "let slide of slider.slides; let i = index;"
				 (click) 	= "selectSlide(i)"
			></div>

		</div>

	</div>

</div>
