:host {
	display: block;
	position: relative;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #eee;
	overflow: hidden;
	animation: initial-page 1s ease-out;

	&:hover {
		.btns {
			opacity: 1;
		}
	}
	.animate .slide_img {
		z-index: 150;
		visibility: visible;
		animation: slide-down 300ms ease-in;
		animation-fill-mode: both;
	}
	.hide .slide_img {
		z-index: 50;
		animation: wait-for-slide-down 300ms linear;
	}
	.animate .slide_content {
		z-index: 250;
		visibility: visible;
		animation: slide-right 300ms ease-in;
		animation-delay: 300ms;
		animation-fill-mode: both;
	}
	.hide .slide_content {
		z-index: 50;
	}
	.animated .slide_img {
		z-index: 150;
		visibility: visible;
	}
	.hidden .slide_img {
		z-index: 50;
		visibility: hidden;
	}
	.animated .slide_content {
		z-index: 250;
		visibility: visible;
	}
	.hidden .slide_content {
		z-index: 50;
	}
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&_img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate3d(-50%, -50%, 0);
		visibility: hidden;
	}
	&_content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			flex: 1;
		}
		&::after {
			content: '';
			flex: 1;
		}
		h1 {
			position: relative;
			text-align: center;
			padding: 20px;
			width: 100%;
			color: #eee;
			background: rgba(0,0,0, 0.5);
			cursor: pointer;
		}
	}
}

.navigation {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	opacity: 0.5;
	transition: all 200ms ease-in;
	z-index: 251;

	&:hover {
		opacity: 1;

		.navigation__list_btn::after {
			border: 2px solid #000;
		}
	}
	&__list {
		display: flex;
		margin: auto;

		&:hover {
			.navigation__list_btn::after {
				box-shadow: 0 0 20px 1px rgba(255,255,255, 0.75);
				background: #fff;
			}
		}
		&_btn {
			position: relative;
			padding: 5px;
			margin: 0 5px;
			border-radius: 25px;
			cursor: pointer;

			&:hover::after {
				background: #000;
			}
			&::after {
				content: '';
				display: flex;
				position: relative;
				width: 10px;
				height: 10px;
				background: transparent;
				border-radius: 50%;
				border: 2px solid #000;
			}
		}
		.active::after {
			background: #000 !important;
		}
	}
}

@keyframes slide-down {
	from {
		transform: translate3d(-50%, -150%, 0);
	}
	to {
	}
}

@keyframes slide-right {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes wait-for-slide-down {
	from {
		visibility: visible;
	}
	to {
		visibility: hidden;
	}
}

@keyframes initial-page {
	from {
		transform: translateY(-100%);
	}
	75% {
		transform: translateY(-100%);
	}
	to {
		transform: none;
	}
}
