.popup {
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

.popup_container {
	z-index: 1001;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	width: 100%;
	max-width: 1024px;
	height: 100%;
	background: #fff;
	box-shadow: 0 10px 20px #000;
	animation: scale-in 300ms ease-out;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(0,0,0, 0.25);
	}
	&::-webkit-scrollbar-thumb {
		background: #369;

		&:hover {
			background: #000;
		}
	}
	.btn_wrapper {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1002;

		.btn {
			width: 40px;
			height: 40px;
			padding: 20px;
			cursor: pointer;

			img {
				opacity: 0.75;
				top: 10px;
				width: 40px;
				height: 40px;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.backdrop {
	z-index: 1001;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	animation: fade-in 300ms ease-out;
	cursor: pointer;
}

.content_wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	.content {
		display: flex;
		width: 100%;
		height: 100%;

		> div {
			width: 100%;
			min-height: calc(100% + 1px);

			> div {
				margin: 50px;
				min-width: 0;

				h1 {
					padding-bottom: 50px;
				}
				p {
					color: #333;
					font-size: 24px;
				}
				@media(max-width: 1024px) {
					margin: 20px;
				}
			}
		}
	}
}

.close {
	.backdrop {
		animation: fade-out 300ms ease-in;
		opacity: 0;
	}
	.popup_container {
		animation: scale-out 300ms ease-in;
		transform:  translateX(-50%) scale3d(0, 0, 0);
	}
}

@keyframes scale-in {
	from {
		transform: translateX(-50%) scale3d(0, 0, 0);
	}
	to {
		transform: translateX(-50%) scale3d(1, 1, 1);
	}
}

@keyframes scale-out {
	from {
		transform: translateX(-50%) scale3d(1, 1, 1);
	}
	to {
		transform: translateX(-50%) scale3d(0, 0, 0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
