<div class="bnb">

	<bnb-slider *ngIf 				= "slider.isLoaded"
				[app] 				= "app"
				[popup] 			= "popup"
				[slider] 			= "slider"
				[style.height.px] 	= "browser.height"
	></bnb-slider>

	<div *ngIf="browser.isLoaded">

		<!-- <bnb-header></bnb-header> -->

		<router-outlet></router-outlet>

		<bnb-footer	*ngIf 				= "footer.isLoaded"
					[app] 				= "app"
					[footer] 			= "footer"
					[style.height.px] 	= "browser.height"
		></bnb-footer>

		<bnb-popup [popup] = "popup"></bnb-popup>

	</div>

</div>
