<div class = "bnb">
<!--

	<bnb-slider	*ngIf		= "slider.loaded"
				[slider]	= "slider"
				[popup]		= "popup"
				[app]		= "app"
	></bnb-slider>

	<div *ngIf = "browser.loaded">

		<bnb-header	*ngIf		= "header.loaded"
					[header]	= "header"
					[app]		= "app"
					[bnb]		= "bnb"
		></bnb-header>

		<div class = "content" [style.min-height.px] = "app.height">
			<router-outlet></router-outlet>
		</div>

		<bnb-footer	*ngIf		= "footer.loaded"
					[footer]	= "footer"
					[app]		= "app"
		></bnb-footer>

		<bnb-popup	*ngIf	= "popup.loaded"
					[popup]	= "popup"
		></bnb-popup>

	</div>

-->
</div>
