<div class="bnb" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">

	<bnb-slider *ngIf 				= "slider.isLoaded"
				[app] 				= "app"
				[slider] 			= "slider"
				(openPopupEv) 		= "openPopup($event)"
				[style.width.px] 	= "browser.width"
				[style.height.px] 	= "browser.height"
	></bnb-slider>

	<bnb-popup *ngIf 	= "popup.isVisible"
			   [app] 	= "app"
			   [popup] 	= "popup"
	></bnb-popup>

</div>

<!--
<router-outlet></router-outlet>

YT Player
<bnb-youtube-player [app] = "app"></bnb-youtube-player>


Footer
<bnb-footer	*ngIf	 	 = "!footer.loading"
			   [app]	 	 = "app"
			   [footer] 	 = "footer"
			   (popup)	 	 = "openPopup($event)"
></bnb-footer> -->
