.footer {
  position: relative;
  width: 100%;
  background: #333;
  color: #eee;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .title {
    overflow: hidden;
    h1 {
      width: 1024px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 1024px) {
        width: 600px;
      }
      @media (max-width: 600px) {
        width: 300px;
      }
    }
  }
}
.contact {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  > div {
    margin: auto;
    display: flex;
    width: 1024px;
  }
  &__card {
    display: flex;
    margin: auto;
    height: 100%;
    &_item {
      margin: auto 0;
      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
      }
      @media(max-width: 600px) {
        h3 {
          font-size: 18px;
        }
      }
    }
    &_icon {
      display: flex;
      padding: 20px;
      svg {
        width: 120px;
        height: 120px;
        margin: auto;
      }
      @media(max-width: 1024px) {
        padding: 10px;
        svg {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    > div {
      width: 600px;
    }
  }
  @media (max-width: 600px) {
    > div {
      flex-direction: column;
      width: 300px;
    }
    .contact__card::before {
      content: '';
      display: block;
      flex: 1;
    }
    .contact__card::after {
      content: '';
      display: block;
      flex: 1;
    }
  }
}
