<div class="footer" [style.min-height.px] = "browser.height - 50">

  <h1>{{ i18n(footer.contact, 'title') }}</h1>

  <!-- Contact -->
  <div class="contact font-extra-light">
    <div>

      <!-- Names -->
      <div class="contact__card" *ngFor="let item of footer.names">
        <div class="contact__card_icon">
          <svg fill="#FFFFFF" viewBox="0 0 24 24">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </div>
        <div class="contact__card_item">
          <h3 *ngIf="isSet(i18n(item, 'name'))">{{ i18n(item, 'name') }}</h3>
          <h3 *ngIf="isSet(i18n(item, 'phone'))">{{ i18n(item, 'phone') }}</h3>
          <h3 *ngIf="isSet(i18n(item, 'mail'))">{{ i18n(item, 'mail') }}</h3>
        </div>
      </div>

      <!-- Locations -->
      <div class="contact__card" *ngFor="let item of footer.locations">
        <div class="contact__card_icon">
          <svg fill="#FFFFFF" viewBox="0 0 24 24">
            <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </div>
        <div class="contact__card_item">
          <h2 *ngIf="isSet(i18n(item, 'address'))">{{ i18n(item, 'address') }}</h2>
          <h2 *ngIf="isSet(i18n(item, 'city'))">{{ i18n(item, 'city') }}</h2>
          <h2 *ngIf="isSet(i18n(item, 'country'))">{{ i18n(item, 'country') }}</h2>
        </div>
        <div class="flex"></div>
      </div>

    </div>
  </div>

</div>
